<!DOCTYPE html>
<html>
<body style = "background-color:#cae9fb;">
    
    <h1 style="text-align: center;"><span style="color: #2e032e; margin-top:1%">MOVIE TIME!</span></h1>
    <p><img style="display: block; margin-left: auto; margin-right: auto; margin-top:0%" src="https://media3.giphy.com/media/9Q3klEiZAv4BEVPNWf/200w.gif?cid=6c09b9528u2s6ap97regidhzfi0bu56r9vnunw3mitpqxl5o&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="" width="140" height="140" /></p>



    <form action="/showoverlap" method="post" style="margin-left: auto; margin-right:auto; text-align:center; margin-top:3%">
        
        <input type="text" id="username1" name="usr1" placeholder = "Letterboxd User 1">
        <input type="text" id="username2" name="usr2" placeholder = "Letterboxd User 2">
        <div style="margin-left: auto; margin-right:auto; text-align:center; margin-top:.25%">
        
        <button type = "submit" name ="poster_type" value="no_poster">Show Overlap With No Posters</button>
        <button type = "submit" name="poster_type" value="yes_poster">Show Overlap With Posters (slow)</button>
        </div>
        
    </form>


    <form action="/add" method="post" style="margin-left: auto; margin-right:auto; text-align:center; margin-top:0%">
        <button type = "submit" data-inline="true">Add user</button>
    </form>
        
    <form action="/remove" method="post" style="margin-left: auto; margin-right:auto; text-align:center; margin-top:0%">
        <button type = "submit" data-inline="true">Remove user</button>
    </form>




</body>
</html>