<!DOCTYPE html>
<html>
<style type="text/css">
    .total
    {
    position:absolute;bottom:-20px; right:5px;
    }
    
</style>
<body style = "background-color:#cae9fb; position:relative">
    <h1 style="text-align: center;"><span style="color: #2e032e; margin-top:1%">MOVIE TIME!</span></h1>
    <p><img style="display: block; margin-left: auto; margin-right: auto; margin-top:0%" src="https://media3.giphy.com/media/9Q3klEiZAv4BEVPNWf/200w.gif?cid=6c09b9528u2s6ap97regidhzfi0bu56r9vnunw3mitpqxl5o&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="" width="140" height="140" /></p>

    <!--add names here-->
    <br>
    <table style="height: 500px; width: 100%; border-collapse: collapse; border-style: none; border: none;">
    <tbody>
    <!--add movies here--> 
    </tbody>
     <!--add total here-->

</body>
</html>