<!DOCTYPE html>
<html>
<style type="text/css">
    .total
    {
    position:absolute;bottom:-20px; right:5px;
    }
    
</style>
<body style = "background-color:#cae9fb; position:relative">
    <h1 style="text-align: center;"><span style="color: #2e032e; margin-top:1%">MOVIE TIME!</span></h1>
    <p><img style="display: block; margin-left: auto; margin-right: auto; margin-top:0%" src="https://media3.giphy.com/media/9Q3klEiZAv4BEVPNWf/200w.gif?cid=6c09b9528u2s6ap97regidhzfi0bu56r9vnunw3mitpqxl5o&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="" width="140" height="140" /></p>

    <h3 style="text-align: center;">
        <span style="color: #800080; font-size: 18px">
            {%for username in usernames%}
                <a style="color: #800080;" href="{{'https://letterboxd.com/'~username}}" target="_blank">{{username}}</a> 
                {% if not loop.last %}
                    &
                {% endif %}
            {%endfor%}
        </span>
    </h3>


    <br>
    <table style="height: 500px; width: 100%; border-collapse: collapse; border-style: none; border: none;">
    <tbody>    
        {%for movie in movies%}
            {%if loop.index%3==1%}
                <tr>
            {%endif%}

            <td style="width: 33.3333%; text-align: center;"><span style="color: #ff00ff; font-size:22px">
            {%if "poster" in movie%}
                <p style="margin:0"><img src={{movie.poster}} alt="" width="161" height="238" /></p>
            {%endif%}
            <a style="color: #ff00ff;margin-top:3px" href={{movie.link}} target="_blank">
                {{movie.name}}
            </a>
            <p style="color: #5a5c59; font-size:13px; margin-top:1px">
                {{movie.director}} {{movie.year}}
            </p></span></td>

            {%if loop.index%3==0 or loop.last%}
                </tr>
            {%endif%}
        {%endfor%}
    </tbody>

    <p  class="total" style="color:  #4706ca; font-size: 14px" >{{total}} movies in common</p></span><p>

</body>
</html>